@import 'sass/base/_variables.scss';
@import 'sass/base/_extend.scss';


.separador{
    background: $color-acento;
    height: 10px;
}

.presentacion{
    background-color: $color-principal;
    color: $color-fondo;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
    align-items:center;
    align-content: center;


        @media only screen and (min-width: 1024px) {
            height: 400px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-content: center;
            align-items: center;
        }


    .presentacion__Imagenes{
        width: 100%;
        flex-flow: row nowrap;
        justify-content:center;
        align-content:center;
        text-align: center;

        @media only screen and (min-width: 768px) {
            width: 100%;
        }

        @media only screen and (min-width: 1024px) {
            width: 100%;
        }
    }

    h3{
        font-family: 'Raleway', sans-serif;
        font-size: 0.95rem;
        margin: 5%;
        text-align: center;
        @media only screen and (min-width: 768px) {
            font-size: 1.5rem;
            text-align: center;
        }

        @media only screen and (min-width: 1024px) {
            font-size: 1.7rem;
            text-align: left;
            width: 80%;
            margin-left: 10%;
        }
    }

    .presentacion__Imagenes--Grande{
        height: 16rem;
        padding: 1%;

        @media only screen and (min-width: 768px) {
            height: 20rem;
        }

        @media only screen and (min-width: 1024px) {
            height: 22rem;
            padding: 2%;
        }
    }
}


.conocerMiTrabajo{
    background-color: $color-secundario;
    color: $color-fondo;
    height: auto;
    text-align: center;
    padding: 1.5%;

    h4{
        font-weight: 200;
        font-size: 1.2rem;
        padding: 1%;
    }


    i{
        font-size: 1.3rem;
    }
}


.pad3{
    padding: 3%;

    .card{
        border: none;
    }
    
    .card-body{
        background-color: $color-principal;
        height: 7rem;
        color:$color-fondo;
    }
    
    .card-img-top{
        height: 12rem;
        object-fit: cover;
    }
}




.titulosSecciones{
    padding: 3%;
    display: flex;
    flex-flow: column nowrap;
    @media only screen and (min-width: 768px){
        padding: 2%;
    }
    @media only screen and (min-width: 1024px){
        padding: 2%;
        display: flex;
        flex-flow: column nowrap;
    }

    h3{
        color: $color-texto;
        font-size: 1.2rem;
        font-family: 'Raleway', sans-serif; 
        font-weight: 600;

        @media only screen and (min-width: 768px){
            font-size: 1.3rem;
        }
        @media only screen and (min-width: 1024px){
            font-size: 1.5rem;
        }
    }
    h4{
        color: $color-texto;
        font-weight: 100;
        font-size: .8rem;

        @media only screen and (min-width: 768px){
            font-size: 1rem;
        }
        @media only screen and (min-width: 1024px){
            font-size: 1.3rem;
        }
    }
    
    h5{
        font-size: 1.2rem;
        font-family: 'Raleway', sans-serif; 
        font-weight: 600;
    }
    
    p{
        color: $color-fondo ;
        font-weight: 100;
        font-size: 0.8rem;
        @media only screen and (min-width: 768px){
            font-size: 0.9rem;
        }
        @media only screen and (min-width: 1024px){
            font-size: 1rem;
        }
    }
}



.herramientas{
    display: flex;
    background-color:$color-secundario;
    color: $color-fondo;
    height: auto;
    text-align: center;
    font-size: 1rem;
    padding: 1%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    @media only screen and (min-width: 1024px) {
        display: flex;
        height: auto;
        text-align: center;
        font-size: 1.2rem;
        padding: 0.5%;
        flex-flow: column nowrap;
        justify-content:space-evenly;
        align-items: center;
    }

    h4{
        font-weight: 200;
        font-size: 0.9rem;    

        @media only screen and (min-width: 1024px) {
            font-size: 1.2rem;
            margin-top: 1%;
        }
    }
    
    .herramientas__imagenes{
        font-weight: 200;
        padding: 2%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        img{
            font-weight: 200;
            padding: 1%;
            width: 8%;
    }
    }

}

