/*Font family*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&family=Roboto:ital,wght@0,300;0,400;1,500&display=swap');

/* Variables */

$color-principal:#5AA897;
$color-secundario:#45526C;
$color-texto: #4F4F4F ;
$color-acento:#F8A488;
$color-fondo:#F8F5F1;

$tamano-fuente-titulo-s: 1.2rem;
$tamano-fuente-titulo-m: 1.5rem;
$tamano-fuente-bajada-s: 1rem;
$tamano-fuente-bajada-m: 1.2rem;


/* LISTAS */
/* $colores:
    red,
    blue,
    black; */

$font-family:
    'Raleway', sans-serif; 
/*     'Roboto', sans-serif; */


/* MAPAS */

$coloresmaps:(
    /* key:value */

)


